In [1]:
import pandas as pd

In [2]:
df = pd.read_pickle(r"shared/Motor_Vehicle_Collisions_-_Crashes.pkl")
df

,CRASH DATE_CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,NUMBER OF PERSONS INJURED,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,2021-09-11 02:39:00,NaN,NaN,NaN,NaN,NaN,WHITESTONE EXPRESSWAY,20 AVENUE,NaN,2.0,...,Unspecified,NaN,NaN,NaN,4455765,Sedan,Sedan,NaN,NaN,NaN
1,2022-03-26 11:45:00,NaN,NaN,NaN,NaN,NaN,QUEENSBORO BRIDGE UPPER,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,4513547,Sedan,NaN,NaN,NaN,NaN
2,2022-06-29 06:55:00,NaN,NaN,NaN,NaN,NaN,THROGS NECK BRIDGE,NaN,NaN,0.0,...,Unspecified,NaN,NaN,NaN,4541903,Sedan,Pick-up Truck,NaN,NaN,NaN
3,2021-09-11 09:35:00,BROOKLYN,11208.0,40.667202,-73.866500,"(40.667202, -73.8665)",NaN,NaN,1211 LORING AVENUE,0.0,...,NaN,NaN,NaN,NaN,4456314,Sedan,NaN,NaN,NaN,NaN
4,2021-12-14 08:13:00,BROOKLYN,11233.0,40.683304,-73.917274,"(40.683304, -73.917274)",SARATOGA AVENUE,DECATUR STREET,NaN,0.0,...,NaN,NaN,NaN,NaN,4486609,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018240,2023-07-03 18:05:00,NaN,NaN,40.866806,-73.931010,"(40.866806, -73.93101)",RIVERSIDE DRIVE,NaN,NaN,0.0,...,Unspecified,NaN,NaN,NaN,4648110,Sedan,Sedan,NaN,NaN,NaN
2018241,2023-07-22 21:39:00,BRONX,10457.0,40.844177,-73.902920,"(40.844177, -73.90292)",EAST 174 STREET,WEBSTER AVENUE,NaN,1.0,...,NaN,NaN,NaN,NaN,4648117,Sedan,NaN,NaN,NaN,NaN
2018242,2023-07-02 17:55:00,MANHATTAN,10006.0,40.711033,-74.014540,"(40.711033, -74.01454)",WEST STREET,LIBERTY STREET,NaN,0.0,...,NaN,NaN,NaN,NaN,4648366,Taxi,NaN,NaN,NaN,NaN
2018243,2023-07-22 13:15:00,QUEENS,11433.0,40.691580,-73.793190,"(40.69158, -73.79319)",110 AVENUE,157 STREET,NaN,1.0,...,Driver Inattention/Distraction,NaN,NaN,NaN,4648129,Station Wagon/Sport Utility Vehicle,E-Bike,NaN,NaN,NaN
2018244,2023-07-22 03:00:00,QUEENS,11433.0,40.700240,-73.792854,"(40.70024, -73.792854)",SOUTH ROAD,164 STREET,NaN,0.0,...,NaN,NaN,NaN,NaN,4647913,Sedan,NaN,NaN,NaN,NaN

In [ ]:
#Q1 Which borough has had the highest total number of crashes reported since 2012? (Ignore missing values)

In [3]:
df['CRASH DATE_CRASH TIME'] = pd.to_datetime(df['CRASH DATE_CRASH TIME'])  
df_since_2012 = df[df['CRASH DATE_CRASH TIME'].dt.year >= 2012]

In [4]:
borough_crash_counts = df_since_2012['BOROUGH'].value_counts()

In [5]:
highest_crash_borough = borough_crash_counts.idxmax()
highest_crash_count = borough_crash_counts.max()

In [6]:
print(f"The borough with the highest total number of crashes reported since 2012 is {highest_crash_borough} with {highest_crash_count} crashes.")

The borough with the highest total number of crashes reported since 2012 is BROOKLYN with 441026 crashes.

In [ ]:
#Q2 Considering the entire data set since July 2012, which borough has the most crashes for every 100,000 people?

In [7]:
population= {
    'BOROUGH':['BRONX','BROOKLYN','MANHATTAN','QUEENS','STATEN ISLAND'],
    'population':[1446788,2648452, 1638281, 2330295, 487155]
}

In [8]:
population_df = pd.DataFrame(population)
population_df

         BOROUGH  population
0          BRONX     1446788
1       BROOKLYN     2648452
2      MANHATTAN     1638281
3         QUEENS     2330295
4  STATEN ISLAND      487155

In [9]:
borough_crash_counts

BOROUGH
BROOKLYN         441026
QUEENS           372457
MANHATTAN        313266
BRONX            205345
STATEN ISLAND     58297
Name: count, dtype: int64

In [11]:
combined_df=pd.merge(population_df,borough_crash_counts,left_on='BOROUGH', right_index=True)
combined_df

         BOROUGH  population   count
0          BRONX     1446788  205345
1       BROOKLYN     2648452  441026
2      MANHATTAN     1638281  313266
3         QUEENS     2330295  372457
4  STATEN ISLAND      487155   58297

In [12]:
combined_df['crashes per 100k']=(combined_df['count']/combined_df['population'])*100000
combined_df

         BOROUGH  population   count  crashes per 100k
0          BRONX     1446788  205345      14193.164444
1       BROOKLYN     2648452  441026      16652.217975
2      MANHATTAN     1638281  313266      19121.628097
3         QUEENS     2330295  372457      15983.255339
4  STATEN ISLAND      487155   58297      11966.827806

In [14]:
highest_borough_100k=combined_df['BOROUGH'][combined_df['crashes per 100k'].idxmax()]
highest_borough_100k

'MANHATTAN'

In [16]:
highest_crash_100k=combined_df['crashes per 100k'].max()
highest_crash_100k

19121.628096767283

In [ ]:
#Q3 What proportion of accidents are attributable to this cause?

In [17]:
df_filtered = df[df['CONTRIBUTING FACTOR VEHICLE 1'] != 'Unspecified']
contributing_factor_counts = df_filtered['CONTRIBUTING FACTOR VEHICLE 1'].value_counts()

leading_cause = contributing_factor_counts.idxmax()
leading_cause_count = contributing_factor_counts.max()

total_accidents = len(df_filtered)
proportion_to_leading_cause = (leading_cause_count / total_accidents) * 100

print(f"The leading cause of crashes (ignoring 'Unspecified') is '{leading_cause}' with {leading_cause_count} accidents.")
print(f"The proportion of accidents attributable to this cause is {proportion_to_leading_cause:.1f}%.")

The leading cause of crashes (ignoring 'Unspecified') is 'Driver Inattention/Distraction' with 401262 accidents.
The proportion of accidents attributable to this cause is 30.3%.

In [ ]:
#Q4 Continuing from the previous question - the top 3 causes of crashes (ignoring 'Unspecified') account for what proportion of total crashes?

In [18]:
df_filtered = df[df['CONTRIBUTING FACTOR VEHICLE 1'] != 'Unspecified']

contributing_factor_counts = df_filtered['CONTRIBUTING FACTOR VEHICLE 1'].value_counts()

top_contributing_factors = contributing_factor_counts.index[0:3]  

top_factors_counts = contributing_factor_counts[0:3].sum()

total_accidents = len(df_filtered)
proportion_to_top_factors = (top_factors_counts / total_accidents) * 100

print(f"The top 3 causes of crashes (ignoring 'Unspecified') account for {proportion_to_top_factors:.1f}% of total crashes.")

The top 3 causes of crashes (ignoring 'Unspecified') account for 47.4% of total crashes.

In [ ]:
#Q5 what is the total count of accidents that involved at least one fatality?

In [19]:
start_date = pd.to_datetime('2012-01-01')
df_since_2012 = df[df['CRASH DATE_CRASH TIME'] >= start_date]

accidents_with_fatality = df_since_2012[df_since_2012['NUMBER OF PERSONS KILLED'] >= 1]

total_accidents_with_fatality = len(accidents_with_fatality)

print(f"The total count of accidents since 2012 that involved at least one fatality is {total_accidents_with_fatality}.")

The total count of accidents since 2012 that involved at least one fatality is 2804.

In [ ]:
#Q6 On average, for every 1000 accidents, how many have resulted in at least one person dead?

In [20]:
accidents_with_fatality = df[df['NUMBER OF PERSONS KILLED'] >= 1]
count_accidents_with_fatality = len(accidents_with_fatality)

total_accidents = len(df)

average_per_1000_accidents = (count_accidents_with_fatality / total_accidents) * 1000

print(f"On average, for every 1000 accidents, {average_per_1000_accidents:.2f} have resulted in at least one person dead.")

On average, for every 1000 accidents, 1.39 have resulted in at least one person dead.

In [ ]:
#Q7 What proportion of accidents in the data do not have a Borough code?

In [21]:
accidents_without_borough = df[df['BOROUGH'].isnull() | (df['BOROUGH'] == 'Unspecified')]

proportion_without_borough = len(accidents_without_borough) / len(df)

print(f"The proportion of accidents in the data without a Borough code is {proportion_without_borough:.2%}.")

The proportion of accidents in the data without a Borough code is 31.11%.

In [ ]:
#8 Which combination of vehicles have the most number of accidents?

In [22]:
df['VEHICLE COMBINATION'] = df['VEHICLE TYPE CODE 1'] + ' & ' + df['VEHICLE TYPE CODE 2']

vehicle_combination_counts = df['VEHICLE COMBINATION'].value_counts()

most_common_combination = vehicle_combination_counts.idxmax()
most_common_combination_count = vehicle_combination_counts.max()

print(f"The combination of vehicles with the most number of accidents is '{most_common_combination}' with {most_common_combination_count} accidents.")

The combination of vehicles with the most number of accidents is 'Sedan & Sedan' with 197944 accidents.